* {
  font-family: "Press Start 2P", cursive;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  place-items: center;
  place-content: center;
  background-color: #6495ed;
}

#new-game {
  position: absolute;
  padding: 2rem;
  background-color: #f2f2f2;
  color: #212529;
}

#new-game-form {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;

  label {
    text-align: center;
  }

  input {
    outline: none;
    text-align: center;
  }

  button:focus {
    outline: none;
    box-shadow: none;
  }
}

.message-list {
  position: absolute;
  bottom: 15px;
  left: 15px;

  section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    place-items: center;
  }
}

#game {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 2 1;
  gap: 2rem;

  section {
    display: flex;
  }
}

#board {
  padding: 0;
  flex: 2;
  background-color: #92cc41;
}

#map {
  display: grid;
  width: calc(100% + 8px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: -4px;
}

.tile {
  display: flex;
  place-content: center;
  place-items: center;
  border-right: 4px dashed #4aa52e;
  border-bottom: 4px dashed #4aa52e;

  &:nth-child(12n) {
    border-right: none;
  }

  &:nth-last-child(-n + 12) {
    border-bottom: none;
  }
}

.entity {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  place-items: center;

  img {
    image-rendering: pixelated;
    width: 75px;
  }
}

.castle {
  img {
    width: 95px;
    pointer-events: none;
  }
}

.hp {
  margin-top: -30px;
  height: 15px;
  width: 100px;
}

#deck {
  flex: 1;
  background-color: #f2f2f2;
}
